@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    color: #f1f1f1;
}

body {
    background-color: #111;
}

header {
    background-color: #010101;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#logo {
    height: 60px;
    width: auto;
    margin-left: 10px;
}

#burger {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#burger_part_1 {
    background-color: #ff004e;
    width: 100%;
    height: 20%;
    border-radius: 50% 0;
}

#burger_part_2 {
    background-color: #ff004e;
    width: 100%;
    height: 20%;
    border-radius: 50% 0;
}

#burger_part_3 {
    background-color: #ff004e;
    width: 100%;
    height: 20%;
    border-radius: 50% 0;
}

#nav_links {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #010101;
    overflow: hidden;
    padding-top: 80px;
    transition: .5s;
}

.sidenav a {
    display: block;
    font-size: 1.75rem;
    text-decoration: none;
    color: #ff004e;
    padding: 8px 8px 32px;
    margin-left: 40px;
}

.sidenav a:hover {
    scale: 1.1;
}

.sidenav .closebtn {
    position: absolute;
    top: 15px;
    font-weight: bolder;
}

footer {
    background-color: #010101;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
}

footer div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#footer_links a {
    padding: 10px;
    margin: 10px 20px;
    border: #f1f1f1 3px solid;
}

footer img {
    height: 100px;
    width: auto;
    margin: 10px 0;
}

footer p {
    font-size: .75rem;
    color: #33333366;
    text-align: center;
    margin: 10px 0;
}

#footer_socials a {
    margin: 10px 20px;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook {
    background-color: #003884;
}

.fa-twitter {
    background-color: #008ac5;
}

.fa-youtube {
    background-color: #ff004e;
}

.fa-instagram {
    background-color: #600088;
}

.fa-pinterest {
    background-color: #ff004e;
}

.fa-reddit {
    background-color: #ff004e;
}

/*
main page 
*/

#top_image_container {
    overflow: hidden;
}

#top_banner {
    min-width: 200px;
    max-width: 450px;
    height: fit-content;
    background-color: #111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#top_banner h2 {
    font-size: 1.5rem;
    margin: 20px 30px 0 30px;
}

#top_banner p {
    margin: 20px 50px;
}

#top_image {
    display: block;
    margin: 80px auto 0 auto;
    overflow: hidden;
}

#grid_wrapper_index {
    background-color: #010101;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    ;
    min-height: 200vh;
    width: 85%;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.section_index {
    background-color: #111;
    text-align: center;
    padding: 20px;
}

#section_index_1 {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section_index_1 img {
    width: calc(100% + 40px);
    height: auto;
    margin: -20px;
}

#section_index_1 button {
    width: 50%;
    height: 50px;
    background-color: #ff004e;
    align-self: center;
    border: solid #f1f1f1 3px;
}

#section_index_2 {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section_index_2 p {
    margin: 20px 0;
}

#section_index_2 img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#section_index_3 {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section_index_3 textarea {
    width: 100%;
    height: 150px;
    margin: 20px 0;
    color: #010101;
}

#section_index_3 button {
    width: 50%;
    height: 50px;
    background-color: #ff004e;
    align-self: center;
    border: solid #f1f1f1 3px;
}

#section_index_4 {
    grid-area: s4;
    background-color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_index_4 img {
    height: auto;
    margin: auto;
    width: 100%;
}

#gallery_index_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}

#gallery_index_container div {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 10%;
    background-color: #01010166;
}

#gallery_index_container img {
    width: 100%;
    height: auto;
}

/*@media screen and (min-width: 450px) and (max-width: 920px) {
}*/

@media screen and (min-width: 920px) {
    #burger {
        display: none;
    }

    #nav_links {
        display: block;
    }
    
    #nav_links li {
    float: left;
    margin: 0 20px 0 20px;
    list-style: none;
    border: solid #f1f1f1;
    padding: 10px; 
    }

    #nav_links a {
    color: #ff004e;
    text-decoration: none;
    }

    /*
    Main page
    */

    #grid_wrapper_index {
        min-width: 900px;
        grid-template-areas: 
        "s1 s2"
        "s1 s3"
        "s4 s4"
        "s4 s4"
        ;
    }

    /*
    #grid_wrapper_index {
        background-color: #010101;
        margin: 50px auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "s1 s1"
        "s2 s2"
        "s3 s3"
        "s4 s4"
        ;
        min-height: 200vh;
        width: 85%;
        border-radius: 10px;
        padding: 20px;
        gap: 20px;
    }
    
    .section_index {
        background-color: #111;
        text-align: center;
        padding: 20px;
    }
    
    #section_index_1 {
        grid-area: s1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #section_index_1 img {
        width: calc(100% + 40px);
        height: auto;
        margin: -20px;
    }
    
    #section_index_1 button {
        width: 50%;
        height: 50px;
        background-color: #ff004e;
        align-self: center;
        border: solid #f1f1f1 3px;
    }
    
    #section_index_2 {
        grid-area: s2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #section_index_2 p {
        margin: 20px 0;
    }
    
    #section_index_2 img {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    
    #section_index_3 {
        grid-area: s3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #section_index_3 textarea {
        width: 100%;
        height: 150px;
        margin: 20px 0;
        color: #010101;
    }
    
    #section_index_3 button {
        width: 50%;
        height: 50px;
        background-color: #ff004e;
        align-self: center;
        border: solid #f1f1f1 3px;
    }
    
    #section_index_4 {
        grid-area: s4;
        background-color: #010101;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #section_index_4 img {
        height: auto;
        margin: auto;
        width: 100%;
    } */

    #gallery_index_container {
        display: none;
    }
}