@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    color: #f1f1f1;
}

body {
    background-color: #111;
}

header {
    background-color: #010101;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

#logo {
    height: 60px;
    width: auto;
    margin-left: 10px;
}

#burger {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#burger_part_1 {
    background-color: #ff004e;
    width: 100%;
    height: 20%;
    border-radius: 50% 0;
}

#burger_part_2 {
    background-color: #ff004e;
    width: 100%;
    height: 20%;
    border-radius: 50% 0;
}

#burger_part_3 {
    background-color: #ff004e;
    width: 100%;
    height: 20%;
    border-radius: 50% 0;
}

#nav_links {
    display: none;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #010101;
    overflow: hidden;
    padding-top: 80px;
    transition: .5s;
}

.sidenav a {
    display: block;
    font-size: 1.75rem;
    text-decoration: none;
    color: #ff004e;
    padding: 8px 8px 32px;
    margin-left: 40px;
}

.sidenav a:hover {
    scale: 1.1;
}

.sidenav #closebtn {
    position: absolute;
    top: 15px;
    font-weight: bolder;
}

footer {
    background-color: #010101;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer a {
    text-decoration: none;
}

footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#footer_links a {
    padding: 10px;
    margin: 10px 20px;
    border: #f1f1f1 3px solid;
}

footer img {
    height: 100px;
    width: auto;
    margin: 10px 0;
}

footer p {
    font-size: .75rem;
    color: #33333366;
    text-align: center;
    margin: 10px 0;
}

#footer_socials a {
    margin: 10px 20px;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook {
    background-color: #003884;
}

.fa-twitter {
    background-color: #008ac5;
}

.fa-youtube {
    background-color: #ff004e;
}

.fa-instagram {
    background-color: #600088;
}

.fa-pinterest {
    background-color: #ff004e;
}

.fa-reddit {
    background-color: #ff004e;
}

/*
main page 
*/

#top_image_container {
    overflow: hidden;
}

#top_banner {
    min-width: 200px;
    max-width: 450px;
    height: fit-content;
    background-color: #111;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#top_banner h2 {
    font-size: 1.5rem;
    margin: 20px 30px 0 30px;
}

#top_banner p {
    margin: 20px 50px;
}

#top_image {
    display: block;
    margin: 80px auto 0 auto;
    overflow: hidden;
}

#grid_wrapper_index {
    background-color: #010101;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    ;
    min-height: 200vh;
    width: 85%;
    border-radius: 10px;
    padding: 20px;
    gap: 20px;
}

.section_index {
    background-color: #111;
    text-align: center;
    padding: 20px;
}

#section_index_1 {
    grid-area: s1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section_index_1 #full_screen {
    display: none;
}

#section_index_1 img {
    width: calc(100% + 40px);
    height: auto;
    margin: -20px;
}

#section_index_1 button {
    width: 50%;
    height: 50px;
    background-color: #ff004e;
    align-self: center;
    border: solid #f1f1f1 3px;
}

#section_index_2 {
    grid-area: s2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section_index_2 p {
    margin: 20px 0;
}

#section_index_2 img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

#section_index_3 {
    grid-area: s3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#section_index_3 textarea {
    width: 100%;
    height: 150px;
    margin: 20px 0;
    color: #010101;
}

#section_index_3 button {
    width: 50%;
    height: 50px;
    background-color: #ff004e;
    align-self: center;
    border: solid #f1f1f1 3px;
}

#section_index_4 {
    grid-area: s4;
    background-color: #010101;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section_index_4 img {
    height: auto;
    margin: auto;
    width: 100%;
}

#gallery_index_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 50px auto;
}

#gallery_index_container section {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: 10%;
    background-color: #01010166;
}

#gallery_index_container img {
    width: 100%;
    height: auto;
}

#hover_gallery_index_container {
    display: none;
}

/*
Gallery page
*/

.info_gallery {
    margin: 80px auto 0;
    width: 90%;
    max-height: 400px;
    background-color: #010101;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.info_gallery_logo {
    display: none;
}

.info_gallery_text {
    width: 100%;
    height: 50%;
    text-align: center;
}

.info_gallery_text h2 {
    margin: 40px 0;
}

.info_gallery_text p {
    margin: 0 0 40px;
}

.gallery_container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    margin: 100px 0;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 5px;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}

/*
About page
*/

.grid_wrapper_about {
    background-color: #010101;
    display: grid;
    width: 85%;
    height: 150vh;
    margin: 80px auto 100px;
    padding: 20px;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
    grid-template-areas: 
    "a1 a1 a1"
    "a2 a2 a2"
    "a3 a3 a3"
    ;
}

#image_about1 {
    display: none;
}

#image_about2 {
    display: none;
}

.article_about {
    background-color: #111;
    text-align: center;
}

.article_about img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.article_about h2 {
    margin: 20px 0;
}

.article_about p {
    margin: 0 20px 50px;
}

.article_about .widescreen {
    display: none;
}

#article_about1 {
    grid-area: a1;
}

#article_about2 {
    grid-area: a2;
}

#article_about3 {
    grid-area: a3;
    overflow: hidden;
}

#article_about3 img{
    height: 100%;
}

@media screen and (min-width: 450px) and (max-width: 920px) {
    .column {
        flex: 50%;
        max-width:50%;
    }

    #section_index_1 p {
        display: none;
    }
}

@media screen and (min-width: 920px) {
    #burger {
        display: none;
    }

    #nav_links {
        display: block;
    }
    
    #nav_links li {
    float: left;
    margin: 0 20px 0 20px;
    list-style: none;
    border: solid #f1f1f1;
    padding: 10px; 
    }

    #nav_links a {
    color: #ff004e;
    text-decoration: none;
    }

    /*
    Main page
    */

    #grid_wrapper_index {
        min-width: 900px;
        grid-template-areas: 
        "s1 s2"
        "s1 s3"
        "s4 s4"
        "s4 s4"
        ;
    }

    #gallery_index_container {
        display: none;
    }

    #section_index_1 #full_screen {
        display: block;
    }

    #hover_gallery_index_container {
        margin: 100px auto;
        display: grid;
        width: 100%;
        height: fit-content;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .slide {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .hover_container {
        position: relative;
    }

    .hover {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #010101;
        opacity: 0;
    }

    .hover h2 {
        font-size: 2rem;
    }

    .hover:hover {
        opacity: .5;
        transition: .5s ease;
        cursor: pointer;
    }

    /*
    Gallery page
    */
    .info_gallery_logo {
        display: block;
        width: 50%;
        height: auto;
        align-self: center;
    }
    
    .info_gallery_text {
        width: 50%;
        height: 50%;
        text-align: center;
    }

    .column {
        flex: 25%;
        max-width: 25%;
    }

    /*
About page
*/

.grid_wrapper_about {
    grid-template-areas: 
    "i1 a1 a1"
    "a2 a2 i2"
    "a3 a3 a3"
    ;
}

.image_about {
    width: 100%;
    object-fit: cover;
    height: 100%;
    overflow: hidden;
}

#image_about1 {
    display: block;
    grid-area: i1;
}

#image_about2 {
    display: block;
    grid-area: i2;
}

.article_about img {
    display: none;
}

#article_about3 img {
    display: block;
}

.article_about .widescreen {
    display: block;
}
}