@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); 

* {
    margin: 0;
    transition: all .1s ease;
    font-family: 'Press Start 2P', cursive;
}

body {
    background-image: url("../img/tiles.png");
}

header {
    width: 100%;
    height: 80px;
    background-color: red;
}

nav {
    width: 100%;
    height: 40px;
    background-color: yellow;
}

footer {
    background-color: red;
    width: 100%;
    height: 250px;
}

/*
Main Site
*/

#top_image {
    display: block;
    margin: 10px auto 10px auto;
    width: 75%;
    height: auto;
    border: solid #222 3px;
}

#top_image:hover {
    transform: scale(1.01);
}

#grid_wrapper {
    display: grid;
    background-color: #222;
    width: 75%;
    height: 200vh;
    margin: 10px auto 10px auto;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 5fr; 
    grid-template-areas: 
    "sa ss"
    "sa ss"
    "so su"
    "sw su"
    "sw su"
    "sg sg"
    ;
}

#section_shop {
    grid-area: ss;
    margin: 10px;
    background-color: red;
}

#section_obs {
    grid-area: so;
    margin: 10px;
    background-color: red;
}

#section_about {
    grid-area: sa;
    margin: 10px;
    background-color: red;
}

#section_updates {
    grid-area: su;
    margin: 10px;
    background-color: red;
}

#section_work {
    grid-area: sw;
    margin: 10px;
    background-color: red;
}

#section_gallery {
    grid-area: sg;
    margin: 10px;
    background-color: red;
}